.header {
    background-color: teal;
    position: sticky;
    top: 0;
}

.footer {
    bottom: 0;
    position: sticky;
    background-color: antiquewhite;
    width: 100%;
    margin-top: 150px;
}

.hero {
    width: 10%;
    border-radius: 100% 100% 100% 100%;
    position: relative;
    top: 10px;
}